<div class="layui-side-scroll">
    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <ul class="layui-nav layui-nav-tree" lay-filter="test">
        <li class="layui-nav-item layui-this"><a href="admin.html">面板管理</a></li>
        <li class="layui-nav-item ">
            <a class="" href="javascript:;">系统设置</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">菜单管理</a></dd>
                <dd><a href="ParmsSet.html">参数配置</a></dd>
                <dd><a href="SysSet.html">系统设置</a></dd>
                <dd><a href="UserList.html">用户管理</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">平台管理</a>
            <dl class="layui-nav-child">
                <dd><a href="Project.html">项目管理</a></dd>
                <dd><a href="javascript:;">服务器管理</a></dd>
                <dd><a href="">软件管理</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="javascript:;">NNI集成配置</a></li>
        <!--    <li class="layui-nav-item"><a href="">the links</a></li> -->
    </ul>
</div>
